<div class="testbaselinecommon-166-5" name="test@Baseline#Common">
 <div class="group-166-6" name="Group">
  <div class="group-166-7" name="Group">
  </div>
  <div class="group-166-8" name="Group">
   <div class="group-166-9" name="Group">
    <div class="group-166-10" name="Group">
     <div class="group-166-11" name="Group">
     </div>
     <div class="group-166-12" name="Group">
      <img class="vector-166-13" src="assets/images/test/baseline/vector-166_13.svg"/>
      <label class="text-166-22" type="text" value="Pre- Determined Variables">
       Pre- Determined Variables
      </label>
     </div>
    </div>
    <div class="group-166-23" name="Group">
     <div class="group-166-24" name="Group">
      <div class="group-166-25" name="Group">
      </div>
      <div class="group-166-26" name="Group">
       <label class="text-166-27" type="text" value="Minimum Shift Duration">
        Minimum Shift Duration
       </label>
       <img class="vector-166-28" src="assets/images/test/baseline/vector-166_28.svg"/>
      </div>
     </div>
     <div class="group-166-52" name="Group">
      <div class="group-166-53" name="Group">
      </div>
      <div class="group-166-54" name="Group">
       <label class="text-166-55" type="text" value="Maximum Shift Duration">
        Maximum Shift Duration
       </label>
       <img class="vector-166-56" src="assets/images/test/baseline/vector-166_56.svg"/>
      </div>
     </div>
     <div class="group-166-73" name="Group">
      <div class="group-166-74" name="Group">
      </div>
      <div class="group-166-75" name="Group">
       <label class="text-166-76" type="text" value="latest Start Time">
        latest Start Time
       </label>
       <img class="vector-166-77" src="assets/images/test/baseline/vector-166_77.svg"/>
      </div>
     </div>
    </div>
   </div>
   <div class="group-166-94" name="Group">
    <div class="group-166-95" name="Group">
     <div class="group-166-96" name="Group">
      <div class="group-166-97" name="Group">
      </div>
      <div class="group-166-98" name="Group">
       <div class="group-166-99" name="Group">
        <div class="group-166-100" name="Group">
         <div class="group-166-101" name="Group">
          <div class="group-166-102" name="Group">
           <div class="group-166-103" name="Group">
           </div>
           <div class="group-166-104" name="Group">
            <div class="group-166-105" name="Group">
            </div>
            <label class="text-166-106" type="text" value="From">
             From
            </label>
           </div>
           <select class="dropdown-166-107">
            <option selected="" value="">
             6 AM
            </option>
           </select>
          </div>
         </div>
         <div class="group-166-110" name="Group">
          <div class="group-166-111" name="Group">
           <div class="group-166-112" name="Group">
           </div>
           <div class="group-166-113" name="Group">
            <div class="group-166-114" name="Group">
            </div>
            <label class="text-166-115" type="text" value="To">
             To
            </label>
           </div>
           <select class="dropdown-166-116">
            <option selected="" value="">
             2 PM
            </option>
           </select>
          </div>
         </div>
        </div>
        <label class="text-166-119" type="text" value="Shift Time Duration">
         Shift Time Duration
        </label>
       </div>
      </div>
     </div>
    </div>
    <div class="group-166-120" name="Group">
     <div class="group-166-121" name="Group">
      <div class="group-166-122" name="Group">
      </div>
      <div class="group-166-123" name="Group">
       <div class="group-166-124" name="Group">
        <div class="group-166-125" name="Group">
         <div class="group-166-126" name="Group">
          <div class="group-166-127" name="Group">
           <div class="group-166-128" name="Group">
           </div>
           <div class="group-166-129" name="Group">
            <div class="group-166-130" name="Group">
            </div>
            <label class="text-166-131" type="text" value="From">
             From
            </label>
           </div>
           <div class="dropdown-166-132">
            <lib-quick-select [config]="quickSelectConfig166132">
            </lib-quick-select>
           </div>
          </div>
         </div>
         <div class="group-166-135" name="Group">
          <div class="group-166-136" name="Group">
           <div class="group-166-137" name="Group">
           </div>
           <div class="group-166-138" name="Group">
            <div class="group-166-139" name="Group">
            </div>
            <label class="text-166-140" type="text" value="To">
             To
            </label>
           </div>
           <div class="dropdown-166-141">
            <lib-quick-select [config]="quickSelectConfig166141">
            </lib-quick-select>
           </div>
          </div>
         </div>
        </div>
        <label class="text-166-144" type="text" value="Shift Time Duration">
         Shift Time Duration
        </label>
       </div>
      </div>
     </div>
    </div>
    <div class="group-166-145" name="Group">
     <div class="group-166-146" name="Group">
     </div>
     <button class="btn-166-147" type="button">
      <img class="vector-166-149" src="assets/images/test/baseline/vector-166_149.svg"/>
     </button>
    </div>
   </div>
   <div class="group-166-151" name="Group">
    <div class="group-166-152" name="Group">
    </div>
    <div class="group-166-153" name="Group">
     <div class="group-166-154" name="Group">
      <label class="text-166-155" type="text" value="Non-Traditional Resources">
       Non-Traditional Resources
      </label>
      <img class="vector-166-156" src="assets/images/test/baseline/vector-166_156.svg"/>
     </div>
     <img class="vector-166-158" src="assets/images/test/baseline/vector-166_158.svg"/>
    </div>
   </div>
  </div>
  <div class="group-166-182" name="Group">
   <div class="group-166-183" name="Group">
    <div class="group-166-184" name="Group">
     <div class="group-166-185" name="Group">
     </div>
     <div class="group-166-186" name="Group">
      <label class="text-166-187" type="text" value="EARLIEST Start Time">
       EARLIEST Start Time
      </label>
      <img class="vector-166-188" src="assets/images/test/baseline/vector-166_188.svg"/>
     </div>
    </div>
   </div>
   <div class="group-166-205" name="Group">
    <div class="group-166-206" name="Group">
     <div class="group-166-207" name="Group">
     </div>
     <div class="group-166-208" name="Group">
      <label class="text-166-209" type="text" value="Number of Weeks">
       Number of Weeks
      </label>
      <div class="group-166-210" name="Group">
       <button class="btn-166-211" type="button">
        <img class="vector-166-213" src="assets/images/test/baseline/vector-166_213.svg"/>
       </button>
       <label class="text-166-214" type="text" value="3">
        3
       </label>
       <button class="btn-166-215" type="button">
        <img class="vector-166-217" src="assets/images/test/baseline/vector-166_217.svg"/>
       </button>
      </div>
     </div>
    </div>
    <div class="group-166-218" name="Group">
     <div class="group-166-219" name="Group">
     </div>
     <div class="group-166-220" name="Group">
      <br/>
      <label class="calendar-166-221" for="html">
       start date
      </label>
      <input class="input-166-221" onblur="(this.type='text')" onfocus="(this.type='date')" placeholder="mm/dd/yyyy" type="text"/>
      <br/>
      <img class="vector-166-224" src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/17dc1ee3-5566-47a9-8fc9-976ebcb85292"/>
     </div>
    </div>
    <div class="group-166-231" name="Group">
     <div class="group-166-232" name="Group">
     </div>
     <div class="group-166-233" name="Group">
      <br/>
      <label class="calendar-166-234" for="html">
       end date
      </label>
      <input class="input-166-234" onblur="(this.type='text')" onfocus="(this.type='date')" placeholder="mm/dd/yyyy" type="text"/>
      <br/>
      <img class="vector-166-237" src="https://figma-alpha-api.s3.us-west-2.amazonaws.com/images/9b6aa7c6-62ca-4b7a-825a-6d5c36519dec"/>
     </div>
    </div>
    <div class="group-166-244" name="Group">
     <div class="group-166-245" name="Group">
     </div>
     <div class="group-166-246" name="Group">
      <label class="text-166-247" type="text" value="ratio scale">
       ratio scale
      </label>
      <div class="group-166-248" name="Group">
       <button class="btn-166-249" type="button">
        <img class="vector-166-251" src="assets/images/test/baseline/vector-166_251.svg"/>
       </button>
       <label class="text-166-252" type="text" value="1.0">
        1.0
       </label>
       <button class="btn-166-253" type="button">
        <img class="vector-166-255" src="assets/images/test/baseline/vector-166_255.svg"/>
       </button>
      </div>
     </div>
    </div>
   </div>
   <div class="group-166-256" name="Group">
    <div class="group-166-257" name="Group">
     <div class="group-166-258" name="Group">
     </div>
     <div class="group-166-259" name="Group">
      <img class="vector-166-260" src="assets/images/test/baseline/vector-166_260.svg"/>
      <label class="text-166-269" type="text" value="Shift Distribution Types">
       Shift Distribution Types
      </label>
     </div>
    </div>
    <div class="group-166-270" name="Group">
     <div class="group-166-271" name="Group">
     </div>
     <div class="group-166-272" name="Group">
      <div class="group-166-273" name="Group">
       <div class="group-166-274" name="Group">
       </div>
       <img class="vector-166-275" src="assets/images/test/baseline/vector-166_275.svg"/>
       <label class="text-166-278" type="text" value="TRADITIONAL">
        TRADITIONAL
       </label>
      </div>
      <div class="group-166-279" name="Group">
       <div class="group-166-280" name="Group">
       </div>
       <img class="vector-166-281" src="assets/images/test/baseline/vector-166_281.svg"/>
       <label class="text-166-284" type="text" value="HYBRID">
        HYBRID
       </label>
      </div>
      <div class="group-166-285" name="Group">
       <div class="group-166-286" name="Group">
       </div>
       <img class="vector-166-287" src="assets/images/test/baseline/vector-166_287.svg"/>
       <label class="text-166-290" type="text" value="OPTIMAL">
        OPTIMAL
       </label>
      </div>
     </div>
    </div>
   </div>
  </div>
  <div class="group-166-291" name="Group">
   <div class="group-166-292" name="Group">
    <div class="group-166-293" name="Group">
     <div class="group-166-294" name="Group">
      <div class="group-166-295" name="Group">
      </div>
      <div class="group-166-296" name="Group">
       <label class="text-166-297" type="text" value="Department type">
        Department type
       </label>
      </div>
     </div>
    </div>
    <div class="group-166-298" name="Group">
     <div class="group-166-299" name="Group">
     </div>
     <div class="group-166-300" name="Group">
      <label class="text-166-301" type="text" value="Emergency room">
       Emergency room
      </label>
     </div>
    </div>
   </div>
   <div class="group-166-302" name="Group">
    <div class="group-166-303" name="Group">
     <div class="group-166-304" name="Group">
     </div>
     <div class="group-166-305" name="Group">
      <label class="text-166-306" type="text" value="Site2_ED">
       Site2_ED
      </label>
     </div>
    </div>
    <div class="group-166-307" name="Group">
     <div class="group-166-308" name="Group">
      <div class="group-166-309" name="Group">
      </div>
      <div class="group-166-310" name="Group">
       <label class="text-166-311" type="text" value="Department group">
        Department group
       </label>
      </div>
     </div>
    </div>
   </div>
   <div class="group-166-312" name="Group">
    <div class="group-166-313" name="Group">
     <div class="group-166-314" name="Group">
     </div>
     <div class="group-166-315" name="Group">
      <label class="text-166-316" type="text" value="Registered Nurses">
       Registered Nurses
      </label>
     </div>
    </div>
    <div class="group-166-317" name="Group">
     <div class="group-166-318" name="Group">
      <div class="group-166-319" name="Group">
      </div>
      <div class="group-166-320" name="Group">
       <label class="text-166-321" type="text" value="Resource Group">
        Resource Group
       </label>
      </div>
     </div>
    </div>
   </div>
  </div>
  <img class="vector-166-322" src="assets/images/test/baseline/vector-166_322.svg"/>
  <div class="group-166-323" name="Group">
   <div class="group-166-324" name="Group">
   </div>
   <div class="group-166-325" name="Group">
    <label class="text-166-326" type="text" value="Base Line Name 001">
     Base Line Name 001
    </label>
   </div>
   <div class="group-166-327" name="Group">
    <div class="group-166-328" name="Group">
     <div class="group-166-329" name="Group">
      <div class="group-166-330" name="Group">
      </div>
      <img class="vector-166-331" src="assets/images/test/baseline/vector-166_331.svg"/>
      <label class="text-166-333" type="text" value="Base Line ID">
       Base Line ID
      </label>
     </div>
     <label class="text-166-334" type="text" value="921409198-87861">
      921409198-87861
     </label>
    </div>
    <label class="text-166-335" type="text" value="Private">
     Private
    </label>
    <img class="vector-166-336" src="assets/images/test/baseline/vector-166_336.svg"/>
   </div>
  </div>
 </div>
 <div class="group-166-340" name="Group">
  <button class="btn-166-341" type="button">
   Cancel
  </button>
  <button class="btn-166-344" type="button">
   Next
  </button>
 </div>
</div>
