

.testbaselinecommon-166-5{
position:'' ;width: 100%; height: auto;  background-color: rgba(244,244,244,1.0);top:0px; left: 0;background:''}

.group-166-6{
position:absolute ;width: 1143.0px; height: 926.0px;  background-color: rgba(0,0,0,0.0);top:194px; left: calc( ( ( 100% - 1440px) / 2 ) + 297px);background:''}

.group-166-7{
position:absolute ;width: 1151.0px; height: 1371.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 1px;background:''}

.group-166-8{
position:absolute ;width: 1142.0px; height: 375.205078125px;  background-color: rgba(0,0,0,0.0);top:550px; left: 0px;background:''}

.group-166-9{
position:absolute ;width: 1141.0px; height: 138.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 1px;background:''}

.group-166-10{
position:absolute ;width: 1141.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-166-11{
position:absolute ;width: 1141.0px; height: 44.0px;  background-color: rgba(219,222,235,1.0);top:0px; left: 0px;background:''}

.group-166-12{
position:absolute ;width: 287.0px; height: 28.0px;  background-color: rgba(0,0,0,0.0);top:8px; left: 10px;background:''}

.vector-166-13{
position: absolute;left: 0.0px; top: 0.794921875px; width: 28.0px; height: 28.0}

.text-166-22{
position: absolute;
left: 43.0px;
 top: 6.794921875px;
 width: 244.0px;
 height: 17.0px;
font-size: 16.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-166-23{
position:absolute ;width: 1141.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:54px; left: 0px;background:''}

.group-166-24{
position:absolute ;width: 362.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-166-25{
position:absolute ;width: 362.0px; height: 84.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-166-26{
position:absolute ;width: 280.0px; height: 56.1043701171875px;  background-color: rgba(0,0,0,0.0);top:14px; left: 41px;background:''}

.text-166-27{
position: absolute;
left: 55.0px;
 top: 0.7940673828125px;
 width: 169.03305053710938px;
 height: 19.3773193359375px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-166-28{
position: absolute;left: 0.0px; top: 23.8984375px; width: 280.0px; height: 33.0}

.group-166-52{
position:absolute ;width: 362.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 390px;background:''}

.group-166-53{
position:absolute ;width: 362.0px; height: 84.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-166-54{
position:absolute ;width: 224.0px; height: 56.115478515625px;  background-color: rgba(0,0,0,0.0);top:14px; left: 69px;background:''}

.text-166-55{
position: absolute;
left: 25.0px;
 top: 0.794677734375px;
 width: 173.03305053710938px;
 height: 19.3861083984375px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-166-56{
position: absolute;left: 0.0px; top: 23.91015625px; width: 224.0px; height: 33.0}

.group-166-73{
position:absolute ;width: 362.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 779px;background:''}

.group-166-74{
position:absolute ;width: 362.0px; height: 84.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-166-75{
position:absolute ;width: 224.0px; height: 56.002685546875px;  background-color: rgba(0,0,0,0.0);top:14px; left: 69px;background:''}

.text-166-76{
position: absolute;
left: 50.0px;
 top: 0.794189453125px;
 width: 123.03314208984375px;
 height: 19.2745361328125px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-166-77{
position: absolute;left: 0.0px; top: 23.796875px; width: 224.0px; height: 33.0}

.group-166-94{
position:absolute ;width: 837.0px; height: 103.0px;  background-color: rgba(0,0,0,0.0);top:164px; left: 1px;background:''}

.group-166-95{
position:absolute ;width: 261.0px; height: 102.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-166-96{
position:absolute ;width: 261.0px; height: 102.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-166-97{
position:absolute ;width: 261.0px; height: 102.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-166-98{
position:absolute ;width: 219.0px; height: 60.0001220703125px;  background-color: rgba(0,0,0,0.0);top:21px; left: 21px;background:''}

.group-166-99{
position:absolute ;width: 219.0px; height: 60.0001220703125px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-166-100{
position:absolute ;width: 219.0px; height: 31.0px;  background-color: rgba(0,0,0,0.0);top:29px; left: 0px;background:''}

.group-166-101{
position:absolute ;width: 106.0px; height: 31.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-166-102{
position:absolute ;width: 106.0px; height: 31.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-166-103{
position:absolute ;width: 106.0px; height: 31.0px;  background-color: '';top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(130, 196, 248, 1.0);border-style:solid;background:''}

.group-166-104{
position:absolute ;width: 39.0px; height: 29.0px;  background-color: rgba(0,0,0,0.0);top:1px; left: 1px;background:''}

.group-166-105{
position:absolute ;width: 39.0px; height: 29.0px;  background-color: rgba(219,222,235,1.0);top:0px; left: 0px;background:''}

.text-166-106{
position: absolute;
left: 9.0px;
 top: 10.7947998046875px;
 width: 24.0px;
 height: 10.0px;
font-size: 8.0px; color: rgba(14, 14, 14, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.dropdown-166-107{
position: absolute;left: 48.0px; top: 8.7947998046875px;; width: 51.27471923828125px; height: 17.080810546875px;
font-size: 14.0px; color: rgba(33, 150, 243, 1.0); font-family: Gilroy-Bold;
}

.group-166-110{
position:absolute ;width: 106.0px; height: 31.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 113px;background:''}

.group-166-111{
position:absolute ;width: 106.0px; height: 31.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-166-112{
position:absolute ;width: 106.0px; height: 31.0px;  background-color: '';top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(130, 196, 248, 1.0);border-style:solid;background:''}

.group-166-113{
position:absolute ;width: 39.0px; height: 29.0px;  background-color: rgba(0,0,0,0.0);top:1px; left: 1px;background:''}

.group-166-114{
position:absolute ;width: 39.0px; height: 29.0px;  background-color: rgba(219,222,235,1.0);top:0px; left: 0px;background:''}

.text-166-115{
position: absolute;
left: 16.0px;
 top: 10.7947998046875px;
 width: 11.0px;
 height: 10.0px;
font-size: 8.0px; color: rgba(14, 14, 14, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.dropdown-166-116{
position: absolute;left: 48.0px; top: 8.7947998046875px;; width: 51.27470397949219px; height: 17.080810546875px;
font-size: 14.0px; color: rgba(33, 150, 243, 1.0); font-family: Gilroy-Bold;
}

.text-166-119{
position: absolute;
left: 39.0px;
 top: 0.794677734375px;
 width: 141.02601623535156px;
 height: 15.3966064453125px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-166-120{
position:absolute ;width: 261.0px; height: 102.0px;  background-color: rgba(0,0,0,0.0);top:1px; left: 289px;background:''}

.group-166-121{
position:absolute ;width: 261.0px; height: 102.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-166-122{
position:absolute ;width: 261.0px; height: 102.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-166-123{
position:absolute ;width: 219.0px; height: 60.0001220703125px;  background-color: rgba(0,0,0,0.0);top:20px; left: 21px;background:''}

.group-166-124{
position:absolute ;width: 219.0px; height: 60.0001220703125px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-166-125{
position:absolute ;width: 219.0px; height: 31.0px;  background-color: rgba(0,0,0,0.0);top:29px; left: 0px;background:''}

.group-166-126{
position:absolute ;width: 106.0px; height: 31.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-166-127{
position:absolute ;width: 106.0px; height: 31.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-166-128{
position:absolute ;width: 106.0px; height: 31.0px;  background-color: '';top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(130, 196, 248, 1.0);border-style:solid;background:''}

.group-166-129{
position:absolute ;width: 39.0px; height: 29.0px;  background-color: rgba(0,0,0,0.0);top:1px; left: 1px;background:''}

.group-166-130{
position:absolute ;width: 39.0px; height: 29.0px;  background-color: rgba(219,222,235,1.0);top:0px; left: 0px;background:''}

.text-166-131{
position: absolute;
left: 9.0px;
 top: 10.9998779296875px;
 width: 24.0px;
 height: 10.0px;
font-size: 8.0px; color: rgba(14, 14, 14, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.dropdown-166-132{
position: absolute;left: 48.0px; top: 8.9998779296875px; width: 51.27470397949219px; height: 17.080810546875px;
}

.group-166-135{
position:absolute ;width: 106.0px; height: 31.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 113px;background:''}

.group-166-136{
position:absolute ;width: 106.0px; height: 31.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-166-137{
position:absolute ;width: 106.0px; height: 31.0px;  background-color: '';top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(130, 196, 248, 1.0);border-style:solid;background:''}

.group-166-138{
position:absolute ;width: 39.0px; height: 29.0px;  background-color: rgba(0,0,0,0.0);top:1px; left: 1px;background:''}

.group-166-139{
position:absolute ;width: 39.0px; height: 29.0px;  background-color: rgba(219,222,235,1.0);top:0px; left: 0px;background:''}

.text-166-140{
position: absolute;
left: 16.0px;
 top: 10.9998779296875px;
 width: 11.0px;
 height: 10.0px;
font-size: 8.0px; color: rgba(14, 14, 14, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.dropdown-166-141{
position: absolute;left: 48.0px; top: 8.9998779296875px; width: 51.27470397949219px; height: 17.080810546875px;
}

.text-166-144{
position: absolute;
left: 39.0px;
 top: 0.999755859375px;
 width: 141.0260009765625px;
 height: 15.3966064453125px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-166-145{
position:absolute ;width: 261.0px; height: 102.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 576px;background:''}

.group-166-146{
position:absolute ;width: 261.0px; height: 102.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.vector-166-149{
position: relative; width: 16.0px; height: 16.0}

.btn-166-147{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 27.0px;
 top: 35.0px;
 width: 197.0px;
 height: 28.0px;
border-radius: 5.0px; background-color: rgba(33, 150, 243, 1.0);
 cursor: pointer;

}

.group-166-151{
position:absolute ;width: 362.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:292px; left: 0px;background:''}

.group-166-152{
position:absolute ;width: 362.0px; height: 84.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-166-153{
position:absolute ;width: 280.0px; height: 64.1015625px;  background-color: rgba(0,0,0,0.0);top:6px; left: 41px;background:''}

.group-166-154{
position:absolute ;width: 230.9932861328125px; height: 24.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 25px;background:''}

.text-166-155{
position: absolute;
left: 0.0px;
 top: 7.55126953125px;
 width: 201.01734924316406px;
 height: 8.44873046875px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-166-156{
position: absolute;left: 206.9932861328125px; top: 0.0px; width: 24.0px; height: 24.0}

.vector-166-158{
position: absolute;left: 0.0px; top: 31.1015625px; width: 280.0px; height: 33.0}

.group-166-182{
position:absolute ;width: 1142.0px; height: 301.0px;  background-color: rgba(0,0,0,0.0);top:216px; left: 0px;background:''}

.group-166-183{
position:absolute ;width: 362.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:217px; left: 0px;background:''}

.group-166-184{
position:absolute ;width: 362.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-166-185{
position:absolute ;width: 362.0px; height: 84.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-166-186{
position:absolute ;width: 224.0px; height: 56.03125px;  background-color: rgba(0,0,0,0.0);top:14px; left: 69px;background:''}

.text-166-187{
position: absolute;
left: 44.0px;
 top: 0.765625px;
 width: 136.03314208984375px;
 height: 19.3035888671875px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-166-188{
position: absolute;left: 0.0px; top: 23.796875px; width: 224.0px; height: 33.0}

.group-166-205{
position:absolute ;width: 1142.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:106px; left: 0px;background:''}

.group-166-206{
position:absolute ;width: 265.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-166-207{
position:absolute ;width: 265.0px; height: 84.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-166-208{
position:absolute ;width: 123.03317260742188px; height: 62.000732421875px;  background-color: rgba(0,0,0,0.0);top:13px; left: 71px;border-radius: 5.0px;background:''}

.text-166-209{
position: absolute;
left: 0.0px;
 top: 0.794189453125px;
 width: 123.03317260742188px;
 height: 19.2745361328125px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-166-210{
position:absolute ;width: 87.0px; height: 34.0px;  background-color: rgba(0,0,0,0.0);top:28px; left: 18px;border-radius: 5.0px;background:''}

.vector-166-213{
position: relative; width: 8.0px; height: 3.0}

.btn-166-211{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 0.0px;
 top: 2.611328125px;
 width: 30.0px;
 height: 29.0px;
border-radius: 5.0px; background-color: rgba(130, 196, 248, 1.0);
 cursor: pointer;

}

.text-166-214{
position: absolute;
left: 39.0px;
 top: 0.794921875px;
 width: 9.0px;
 height: 34.0px;
font-size: 14.0px; color: rgba(44, 41, 41, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-166-217{
position: relative; width: 12.0px; height: 12.0}

.btn-166-215{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 57.0px;
 top: 2.611328125px;
 width: 30.0px;
 height: 30.0px;
border-radius: 5.0px; background-color: rgba(33, 150, 243, 1.0);
 cursor: pointer;

}

.group-166-218{
position:absolute ;width: 265.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 292px;background:''}

.group-166-219{
position:absolute ;width: 265.0px; height: 84.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-166-220{
position:absolute ;width: 123.0px; height: 58.95751953125px;  background-color: rgba(0,0,0,0.0);top:14px; left: 71px;background:''}

.input-166-221{
position: absolute;
border-radius: 4.0px;
left: 0.0px; top: 28.60546875px; width: 123.0px; height: 31.1474609375px;
border-top-style: '';border-right-style: '';border-left-style: '';
border-color:rgba(130, 196, 248);border-style:solid}

.input-166-221::placeholder{
color: rgba(130, 196, 248, 1.0) ;
}

.calendar-166-221{
position: absolute;left: 23.0px; top: 0.79541015625px; width: 76.03329467773438px; height: 19.1695556640625px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold;
}

.vector-166-224{
position: absolute;left: 98.0px; top: 35.6387939453125px; width: 15.0px; height: 16.7459716796875}

.group-166-231{
position:absolute ;width: 265.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 584px;background:''}

.group-166-232{
position:absolute ;width: 265.0px; height: 84.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-166-233{
position:absolute ;width: 123.0px; height: 58.9306640625px;  background-color: rgba(0,0,0,0.0);top:14px; left: 71px;background:''}

.input-166-234{
position: absolute;
border-radius: 4.0px;
left: 0.0px; top: 28.578125px; width: 123.0px; height: 31.1474609375px;
border-top-style: '';border-right-style: '';border-left-style: '';
border-color:rgba(130, 196, 248);border-style:solid}

.input-166-234::placeholder{
color: rgba(130, 196, 248, 1.0) ;
}

.calendar-166-234{
position: absolute;left: 30.0px; top: 0.794921875px; width: 63.0333251953125px; height: 19.140625px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold;
}

.vector-166-237{
position: absolute;left: 98.0px; top: 35.6114501953125px; width: 15.0px; height: 16.7459716796875}

.group-166-244{
position:absolute ;width: 265.0px; height: 84.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 877px;background:''}

.group-166-245{
position:absolute ;width: 265.0px; height: 84.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;border-color:rgba(166, 208, 244, 1.0);border-style:solid;background:''}

.group-166-246{
position:absolute ;width: 99.0px; height: 58.8170166015625px;  background-color: rgba(0,0,0,0.0);top:14px; left: 83px;border-radius: 5.0px;background:''}

.text-166-247{
position: absolute;
left: 7.0px;
 top: 0.7943115234375px;
 width: 84.03326416015625px;
 height: 19.1875px;
font-size: 12.0px; color: rgba(39, 39, 39, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-166-248{
position:absolute ;width: 99.0px; height: 30.0px;  background-color: rgba(0,0,0,0.0);top:29px; left: 0px;border-radius: 5.0px;background:''}

.vector-166-251{
position: relative; width: 8.0px; height: 3.0}

.btn-166-249{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 0.0px;
 top: 0.611328125px;
 width: 30.0px;
 height: 29.0px;
border-radius: 5.0px; background-color: rgba(130, 196, 248, 1.0);
 cursor: pointer;

}

.text-166-252{
position: absolute;
left: 39.0px;
 top: 8.794921875px;
 width: 18.0px;
 height: 14.0px;
font-size: 14.0px; color: rgba(44, 41, 41, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-166-255{
position: relative; width: 12.0px; height: 12.0}

.btn-166-253{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 69.0px;
 top: 0.611328125px;
 width: 30.0px;
 height: 30.0px;
border-radius: 5.0px; background-color: rgba(33, 150, 243, 1.0);
 cursor: pointer;

}

.group-166-256{
position:absolute ;width: 1141.0px; height: 97.205078125px;  background-color: rgba(0,0,0,0.0);top:0px; left: 1px;background:''}

.group-166-257{
position:absolute ;width: 1141.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-166-258{
position:absolute ;width: 1141.0px; height: 44.0px;  background-color: rgba(219,222,235,1.0);top:0px; left: 0px;background:''}

.group-166-259{
position:absolute ;width: 265.0px; height: 28.0px;  background-color: rgba(0,0,0,0.0);top:8px; left: 10px;background:''}

.vector-166-260{
position: absolute;left: 0.0px; top: 0.794921875px; width: 28.0px; height: 28.0}

.text-166-269{
position: absolute;
left: 43.0px;
 top: 6.794921875px;
 width: 222.0px;
 height: 17.0px;
font-size: 16.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-166-270{
position:absolute ;width: 1141.0px; height: 44.205078125px;  background-color: rgba(0,0,0,0.0);top:53px; left: 0px;background:''}

.group-166-271{
position:absolute ;width: 1141.0px; height: 44.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 1.0px;background:''}

.group-166-272{
position:absolute ;width: 402.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:1px; left: 0px;background:''}

.group-166-273{
position:absolute ;width: 153.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-166-274{
position:absolute ;width: 153.0px; height: 44.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 1.0px;border-color:rgba(231, 231, 231, 1.0);border-style:solid;background:''}

.vector-166-275{
position: absolute;left: 12.0px; top: 15.0px; width: 14.0px; height: 14.0}

.text-166-278{
position: absolute;
left: 35.0px;
 top: 17.0px;
 width: 98.0px;
 height: 10.0px;
font-size: 14.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-166-279{
position:absolute ;width: 112.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 160px;background:''}

.group-166-280{
position:absolute ;width: 112.0px; height: 44.0px;  background-color: rgba(230,243,254,1.0);top:0px; left: 0px;border-radius: 1.0px;border-color:rgba(33, 150, 243, 1.0);border-style:solid;background:''}

.vector-166-281{
position: absolute;left: 12.0px; top: 15.0px; width: 14.0px; height: 14.0}

.text-166-284{
position: absolute;
left: 35.0px;
 top: 17.0px;
 width: 54.0px;
 height: 10.0px;
font-size: 14.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-166-285{
position:absolute ;width: 123.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 279px;background:''}

.group-166-286{
position:absolute ;width: 123.0px; height: 44.0px;  background-color: rgba(240,240,240,1.0);top:0px; left: 0px;border-radius: 1.0px;border-color:rgba(231, 231, 231, 1.0);border-style:solid;background:''}

.vector-166-287{
position: absolute;left: 12.0px; top: 15.0px; width: 14.0px; height: 14.0}

.text-166-290{
position: absolute;
left: 35.0px;
 top: 17.0px;
 width: 65.0px;
 height: 10.0px;
font-size: 14.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-166-291{
position:absolute ;width: 1141.0px; height: 92.7955322265625px;  background-color: rgba(0,0,0,0.0);top:86px; left: 1px;background:''}

.group-166-292{
position:absolute ;width: 374.0px; height: 92.7955322265625px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-166-293{
position:absolute ;width: 374.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-166-294{
position:absolute ;width: 374.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-166-295{
position:absolute ;width: 374.0px; height: 44.0px;  background-color: rgba(219,222,235,1.0);top:0px; left: 0px;background:''}

.group-166-296{
position:absolute ;width: 153.0px; height: 17.0px;  background-color: rgba(0,0,0,0.0);top:14px; left: 12px;background:''}

.text-166-297{
position: absolute;
left: 0.0px;
 top: 0.0px;
 width: 153.0px;
 height: 17.0px;
font-size: 16.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-166-298{
position:absolute ;width: 374.0px; height: 49.2330322265625px;  background-color: rgba(0,0,0,0.0);top:43px; left: 0px;background:''}

.group-166-299{
position:absolute ;width: 374.0px; height: 49.2330322265625px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-color:rgba(219, 222, 235, 1.0);border-style:solid;background:''}

.group-166-300{
position:absolute ;width: 337.0px; height: 22.1046142578125px;  background-color: rgba(0,0,0,0.0);top:14px; left: 20px;background:''}

.text-166-301{
position: absolute;
left: 0.0px;
 top: 6.6290283203125px;
 width: 140.0px;
 height: 10.0px;
font-size: 14.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.group-166-302{
position:absolute ;width: 374.0px; height: 92.7955322265625px;  background-color: rgba(0,0,0,0.0);top:0px; left: 384px;background:''}

.group-166-303{
position:absolute ;width: 374.0px; height: 49.2330322265625px;  background-color: rgba(0,0,0,0.0);top:43px; left: 0px;background:''}

.group-166-304{
position:absolute ;width: 374.0px; height: 49.2330322265625px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-color:rgba(219, 222, 235, 1.0);border-style:solid;background:''}

.group-166-305{
position:absolute ;width: 337.0px; height: 22.1046142578125px;  background-color: rgba(0,0,0,0.0);top:14px; left: 20px;background:''}

.text-166-306{
position: absolute;
left: 0.0px;
 top: 6.6290283203125px;
 width: 66.0px;
 height: 10.0px;
font-size: 14.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.group-166-307{
position:absolute ;width: 374.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-166-308{
position:absolute ;width: 374.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-166-309{
position:absolute ;width: 374.0px; height: 44.0px;  background-color: rgba(219,222,235,1.0);top:0px; left: 0px;background:''}

.group-166-310{
position:absolute ;width: 172.0px; height: 17.0px;  background-color: rgba(0,0,0,0.0);top:14px; left: 12px;background:''}

.text-166-311{
position: absolute;
left: 0.0px;
 top: 0.0px;
 width: 172.0px;
 height: 17.0px;
font-size: 16.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.group-166-312{
position:absolute ;width: 374.0px; height: 92.7955322265625px;  background-color: rgba(0,0,0,0.0);top:0px; left: 767px;background:''}

.group-166-313{
position:absolute ;width: 374.0px; height: 49.2330322265625px;  background-color: rgba(0,0,0,0.0);top:43px; left: 0px;background:''}

.group-166-314{
position:absolute ;width: 374.0px; height: 49.2330322265625px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-color:rgba(219, 222, 235, 1.0);border-style:solid;background:''}

.group-166-315{
position:absolute ;width: 337.0px; height: 22.1046142578125px;  background-color: rgba(0,0,0,0.0);top:14px; left: 20px;background:''}

.text-166-316{
position: absolute;
left: 0.0px;
 top: 6.6290283203125px;
 width: 150.0px;
 height: 10.0px;
font-size: 14.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.group-166-317{
position:absolute ;width: 374.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-166-318{
position:absolute ;width: 374.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-166-319{
position:absolute ;width: 374.0px; height: 44.0px;  background-color: rgba(219,222,235,1.0);top:0px; left: 0px;background:''}

.group-166-320{
position:absolute ;width: 153.0px; height: 17.0px;  background-color: rgba(0,0,0,0.0);top:14px; left: 12px;background:''}

.text-166-321{
position: absolute;
left: 0.0px;
 top: 0.0px;
 width: 153.0px;
 height: 17.0px;
font-size: 16.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Bold; font-weight: 400;
}

.vector-166-322{
position: absolute;left: 1.0px; top: 70.5px; width: 1141.0px; height: 1.0}

.group-166-323{
position:absolute ;width: 1141.0px; height: 44.0px;  background-color: rgba(0,0,0,0.0);top:11px; left: 1px;background:''}

.group-166-324{
position:absolute ;width: 1141.0px; height: 44.0px;  background-color: rgba(219,222,235,1.0);top:0px; left: 0px;background:''}

.group-166-325{
position:absolute ;width: 351.0px; height: 22.0px;  background-color: rgba(0,0,0,0.0);top:13px; left: 20px;background:''}

.text-166-326{
position: absolute;
left: 0.0px;
 top: 6.0px;
 width: 147.0px;
 height: 10.0px;
font-size: 14.0px; color: rgba(34, 52, 132, 1.0); font-family: Gilroy-Medium; font-weight: 400;
}

.group-166-327{
position:absolute ;width: 306.0px; height: 22.0px;  background-color: rgba(0,0,0,0.0);top:11px; left: 829px;background:''}

.group-166-328{
position:absolute ;width: 205.0px; height: 22.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-166-329{
position:absolute ;width: 105.0px; height: 22.0px;  background-color: rgba(0,0,0,0.0);top:0px; left: 0px;background:''}

.group-166-330{
position:absolute ;width: 105.0px; height: 22.0px;  background-color: rgba(255,255,255,1.0);top:0px; left: 0px;border-radius: 4.0px;background:''}

.vector-166-331{
position: absolute;left: 4.0px; top: 4.0px; width: 13.0px; height: 13.0}

.text-166-333{
position: absolute;
left: 24.0px;
 top: 7.0px;
 width: 69.0px;
 height: 7.0px;
font-size: 10.0px; color: rgba(33, 150, 243, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-166-334{
position: absolute;
left: 114.0px;
 top: 7.0px;
 width: 91.0px;
 height: 8.0px;
font-size: 12.0px; color: rgba(23, 23, 54, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.text-166-335{
position: absolute;
left: 238.0px;
 top: 7.0px;
 width: 44.0px;
 height: 8.0px;
font-size: 12.0px; color: rgba(0, 0, 0, 1.0); font-family: Gilroy-SemiBold; font-weight: 400;
}

.vector-166-336{
position: absolute;left: 282.0px; top: 0.0px; width: 24.0px; height: 22.0}

.group-166-340{
position:absolute ;width: 175.0px; height: 40.047607421875px;  background-color: rgba(0,0,0,0.0);top:1146px; left: calc( ( ( 100% - 1440px) / 2 ) + 1266px);border-radius: 2.0px;background:''}

.btn-166-341{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 0.0px;
 top: 0.0px;
 width: 81.0px;
 height: 40.047607421875px;
border-radius: 2.0px; background-color: rgba(214, 214, 214, 1.0);
 cursor: pointer;
font-size: 14.0px; color: rgba(140, 140, 140, 1.0); font-family: Gilroy-Bold; text-transform: uppercase; font-weight: 400;
}

.btn-166-344{
position: absolute;
 display: flex;
justify-content: center;
align-items: center;
left: 95.0px;
 top: 0.0px;
 width: 80.0px;
 height: 40.047607421875px;
border-radius: 2.0px; background-color: rgba(34, 52, 132, 1.0);
 cursor: pointer;
font-size: 14.0px; color: rgba(255, 255, 255, 1.0); font-family: Gilroy-Bold; text-transform: uppercase; font-weight: 400;
}